body {
		font-family: Timen New Roman;
		/*font-weight: bold;*/
		background: black;
}
.container {
	width: 900px;
	margin: auto;

}
.fixed {
	width: 900px;
	height: 50px;
	background-color: black;
	position: fixed;
}
.fixed ul li {
	color: white;
	display: inline-block;
	margin-left: 95px;
	line-height: 50px;
}
.fixed ul li a {
	font-family: arial;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	color: white;
	text-shadow: 0 0 20px yellow;
	}
.fixed ul li a:hover {
	background-color: lightskyblue;
	color: yellow;
	transition: 0.7s;
	padding: 5px;
}
.k {
	width: 210px;
	height: 297px;
	background-color: #eee;
	text-align: center;
}