body {
		font-family: Timen New Roman;
		/*font-weight: bold;*/
		background: black;
}
.container {
	width: 900px;
	margin: auto;
}
.logo {
	line-height: 200px; 
	background: #666;
	font-size: 6.5em;
	color: #222;
	text-shadow: 0 1px 1px white;
	text-align: center;
}
.logo a {
	text-decoration: none;
	color: #222;

}
table {
	margin: auto
}
input [type="password"] {
	width: 400px;
}
.warna, label {
	color: white;
}